/platform/node_modules
/platform/public/hot
/platform/public/storage
/platform/storage/*.key
/platform/vendor
/platform/.env
/platform/.env.backup
/platform/.phpunit.result.cache
/platform/Homestead.json
/platform/Homestead.yaml
/platform/npm-debug.log
/platform/yarn-error.log
